<% if activity.trackable %>

	<li class="activity update-days">
		<div class="row">
			<div class="profile-pic-container">
				<%= image_tag activity.owner.gravatar_url, class: "img-circle center-block img-responsive" %>
			</div>
			<div class="day-container">
				<span class="day">Day <%= activity.challenge_day %></span>
			</div>
			<div class="content">
				<span class="first-line">
					<%= link_to activity.owner.name, user_path(activity.owner), class: "name" if activity.owner %> completed one more day!
					<span class="time-ago"><%= time_ago_in_words(activity.created_at) %></span>
				</span>
				<%= link_to activity.trackable.name, activity.trackable, class: "challenge" if activity.owner %><br>
				<span class="message"><%= activity.message %></span>
			</div>
			<div class="comments-container">
				<ul class="comments">
					<% activity.comments.each do |comment| %>
						<li class="comment">
							<i><%= comment.user.name if comment.user %>:</i> <%= comment.comment %>
						</li>
					<% end %>
					<li class="add-comment">
						<%= simple_form_for @comment, url: comments_path, method: 'post' do |f| %>
								<%= f.input :comment, input_html: { class: "form-control" }, label: false %> 
								<%= f.input :commentable_id, as: :hidden, input_html: { value: activity.id } %> 
								<%= f.submit "Comment", class: "button button-primary" %> 
						<% end %>
					</li>
				</ul>
			</div>
		</div>
	</li>
	

<% else %>
  [Deleted]
<% end %>

