<% if activity.trackable %>

	<li class="activity update-days">
		<div class="row">
			<div class="profile-pic-container">
				<%= image_tag activity.owner.gravatar_url, class: "img-circle center-block img-responsive" %>
			</div>
			<div class="day-container">
				<span class="day">Day <%= activity.challenge_day %></span>
			</div>
			<div class="content">
				<span class="first-line">
					<%= link_to activity.owner.name, user_path(activity.owner), class: "name" if activity.owner %> completed one more day!
					<span class="time-ago"><%= time_ago_in_words(activity.created_at) %></span>
				</span>
				<%= link_to activity.trackable.name, activity.trackable, class: "challenge" if activity.owner %><br>
				<span class="message"><%= activity.message %></span>
				<div class="activity-footer">
					<a href="#" class="comment-bubble icon">Comment</a>
					<div id="like-form-<%= activity.id %>" class="icon">
						<%= render 'layouts/like_form', activity: activity %>
					</div>
				</div>
				<%= render 'layouts/comments', activity: activity %>
			</div>
		</div>
	</li>
	

<% else %>
  [Deleted]
<% end %>

