<section id="profile" class="cover">
	<div class="container">

		<h1><%= image_tag @user.gravatar_url, class: "profile-pic img-circle" %>Hello, <%= @user.name %></h1>
		<%= link_to "change", "http://gravatar.com/emails", target: "_blank" %>

		<h2>Current Challenge:</h2>
		<% if @user.current_challenge.blank? %>
			<p>No current challenge. Go ahead, start one!</p>
		<% else %>
			<p><%= @user.current_challenge.name %></p>
			<p>day: <%= @user.current_challenge.day %></p>
			<p>reason: <%= @user.current_challenge.reason %></p>
		<% end %>

	</div> <!-- end container -->
</section>

<%= render 'layouts/feed' %>