<section id="profile" class="cover">
	<div class="container">

		<h1><%= image_tag @user.profile_pic, class: "profile-pic img-circle" %><%= @user.name %></h1>		

		<p class="challenge-info-title">Current Challenge:</p>
		<% if @user.current_challenge.blank? %>
			<p>No current challenge. Go ahead, start one!</p>
		<% else %>
			<p class="challenge-info challenge-info-name"><%= @user.current_challenge.name %></p>
			<p class="challenge-info">day: <%= @user.current_challenge.day %></p>
			<p class="challenge-info challenge-info-reason">reason: <%= @user.current_challenge.reason %></p>
		<% end %>

	</div> <!-- end container -->
</section>

<div class="col-md-8 col-md-offset-2">
	<%= render 'layouts/feed' %>
</div>