<% if @current_challenge.nil? %>

	<!-- add new challenge -->
	<p>Add new challenge</p>
	<%= form_for @challenge do |f| %>
	  	<div class="form-group">
	    	<%= f.label :name %>
	    	<%= f.text_field :name, class: "form-control" %>
	    </div>
	  	<div class="form-group">
	    	<%= f.label :question %>
	    	<%= f.text_field :question, class: "form-control" %>
	    </div>
	  	<div class="form-group">
	    	<%= f.label :reason %>
	    	<%= f.text_field :reason, class: "form-control" %>
	    </div>

    	<%= f.hidden_field :user_id %>
	    <%= f.submit "Hello", class: "button button-primary", style: "margin-left: 20px;" %>
	<% end -%>

<% else %>

	<p>Current Challenge: <%= @current_challenge.name %></p>

	<ul>
		<li>Days: <%= @current_challenge.day %></li>
	</ul>

	<%= link_to "Complete", update_days_path, method: :put %>
	<%= link_to "Fail", reset_days_path, method: :put %>

<% end %>