<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h4><%= @challenge.name %></h4>
  </div>
  <div class="panel-body">
	<p>
	  <strong>Day:</strong>
	  <%= @challenge.day %>
	</p>
	<p>
	  <strong>Reason:</strong>
	  <%= @challenge.reason %>
	</p>

	<p>
	  <strong>Who?</strong>
	  <%= @challenge.user.name %>
	</p>
	<% if current_user.id == @challenge.user_id %>
	<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
	<% end %>
	<%= link_to 'Back', challenges_path %>
  </div>
</div>