<div class="activity-footer">
	<div class="row">
		<div id="like-container-<%= activity.id %>" class="likes-container">
			<%= render 'layouts/likes', activity: activity %>
		</div>
		<div id="like-form-<%= activity.id %>" class="icon">
			<%= render 'layouts/like_form', activity: activity %>
		</div>
		<%= link_to (image_tag "comment-gray.png", class: "comment-img"), "#", class: "comment-bubble icon" %>
	</div>
</div>