<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
    	<div class="sidebar-content">
	    	<% if @current_challenge.nil? %>
		        <p>Start a new challenge</p>
		        <%= form_for @challenge do |f| %>
		            <div class="form-group">
		                <%= f.label :name %>
		                <%= f.text_field :name, class: "form-control" %>
		            </div>
		            <div class="form-group">
		                <%= f.label :reason %>
		                <%= f.text_field :reason, class: "form-control" %>
		            </div>

		            <%= f.hidden_field :user_id %>
		            <%= f.submit "Start Now", class: "button button-primary", style: "margin-left: 20px;" %>
		        <% end %>

	        <% else %>

		        <span id="day"><%= @current_challenge.day %></span>
		        <div class="complete-or-fail">
		            <%= link_to "Done", update_days_path, method: :put, remote: true, class: "complete" %></li>
		            <%= link_to "Fail", reset_days_path, method: :put, remote: true, class: "fail" %></li>
		        </div>

		        <p class="challenge-info-title">My Challenge</p>
		        <p class="challenge-info"><%= @current_challenge.name %></p>
		        <p class="challenge-info-title">Reason</p>
		        <p class="challenge-info"><%= @current_challenge.reason %></p>
	    
			<% end %>

			<div class="sidebar-nav">
				<%= link_to "My Profile", user_path(current_user) %>
				<%= link_to "Settings", edit_user_registration_path %>
				<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
				<%= link_to raw("Created by Junto Studio") + image_tag("jslogo.png", class: "jslogo"), "http://www.juntostudio.com", class: "created-by-js" %>
			</div>

		</div> <!-- sidebar content -->
    </div> <!-- /#sidebar-wrapper -->

<!-- the #wrapper has the news feed inside of it as well, the closing div tag is on the feed partial -->