
<!-- Sidebar -->
<div id="sidebar-wrapper">
		<a class="hamburger-menu hamburger-menu-white visible-xs" href="#menu-toggle2" id="menu-untoggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
	<div class="sidebar-content">
		<div id="sidebar-challenge">
			<% if @current_challenge.nil? %>

				<%= render 'layouts/new_challenge', challenge: @challenge %>

			<% else %>
				<span id="day"><%= @current_challenge.day %></span>
				<div class="complete-or-fail">
					<% if @current_challenge.entered? %>
						<%= render 'layouts/changed_your_mind' %>
					<% else %>
						<%= link_to "Done", "#", remote: true, class: "button complete", id: "link-complete" %>
						<%= link_to "Fail", "#", remote: true, class: "button fail", id: "link-fail" %>
					<% end %>
				</div>

				<p class="challenge-info-title">My Challenge</p>
				<p class="challenge-info challenge-info-name"><%= @current_challenge.name %></p>
				<p class="challenge-info-title">Reason</p>
				<p class="challenge-info challenge-info-reason"><%= @current_challenge.reason %></p>

			<% end %>
		</div>

		<div class="sidebar-nav">
			<%= link_to "My Profile", user_path(current_user) %>
			<%= link_to "Settings", edit_user_registration_path %>
			<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
			<%= link_to raw("Created by Junto Studio") + image_tag("jslogo.png", class: "jslogo"), "http://www.juntostudio.com", class: "created-by-js" %>
		</div>

	</div> <!-- sidebar content -->
	</div> <!-- /#sidebar-wrapper -->