<% if @current_challenge.nil? %>

	<section id="add-new-challenge">
		<div class="container">
			<p>Add new challenge</p>
			<%= form_for @challenge do |f| %>
			  	<div class="form-group">
			    	<%= f.label :name %>
			    	<%= f.text_field :name, class: "form-control" %>
			    </div>
			  	<div class="form-group">
			    	<%= f.label :question %>
			    	<%= f.text_field :question, class: "form-control" %>
			    </div>
			  	<div class="form-group">
			    	<%= f.label :reason %>
			    	<%= f.text_field :reason, class: "form-control" %>
			    </div>

		    	<%= f.hidden_field :user_id %>
			    <%= f.submit "Add Challenge", class: "button button-primary", style: "margin-left: 20px;" %>
			<% end -%>
		</div> <!-- end container -->
	</section> <!-- end add-new-challenge -->


<% else %>

	<section id="current-challenge">
		<div class="container">
			<div class="col-md-7">
				<h2>Current Challenge: <%= @current_challenge.name %></h2>
				<h2><%= @current_challenge.question %></h2>
				<h2><%= @current_challenge.reason %></h2>
			</div>
			<div class="col-md-5">
				<span id="day"><%= @current_challenge.day %></span>

				<div class="complete-or-fail">
					<%= link_to "Complete", update_days_path, method: :put, remote: true, class: "complete" %></li>
					<%= link_to "Fail", reset_days_path, method: :put, remote: true, class: "fail" %></li>
				</div>
			</div>
		</div> <!-- end container -->
	</section> <!-- end current challenge -->

<% end %>

