<p class="challenge-info">Start a New Challenge</p>
    <%= form_for challenge do |f| %>
    <%= image_tag "balloon_purple.png", id: "new-challenge-balloon", class: "img-circle" %>
    <p class="challenge-info-title">My Challenge</p>
    <div class="form-group">
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <p class="challenge-info-title">Reason</p>
    <div class="form-group">
        <%= f.text_field :reason, class: "form-control" %>
    </div>
    <%= f.hidden_field :user_id %>
    <%= f.submit "Start Now", class: "button button-primary", style: "margin-left: 20px;" %>
<% end %>